.main-employees-attendance {
  background-color: white;
  border-radius: 0.45em;
  width: 100%;
  height: auto;
  padding: 0.5em;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.employees-sec-1 {
  display: flex;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1em 1em;
  margin-bottom: 0.5em;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.employees-sec-2 {
  padding: 1em 0em;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;

  & > * {
    // background-color: rgba(167, 157, 157, 0.733);
    background-color: #f1f6f9;
    padding: 1.5em;
    border-radius: 0.35em;
    color: black;
    transition: 400ms ease-in-out;
    // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      font-size: 1em;
      margin: 0.25em 0;

      &:nth-child(1) {
        font-size: 1.8em;
        font-weight: bold;
      }

      &:nth-child(2) {
        font-weight: 600;
        color: rgb(49, 49, 49);
        font-size: 0.85em;
      }
    }
  }
}

.employees-sec-3 {
  //   border: 1px solid black;
  padding: 1em;
}

.employee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85em 0;
  border-bottom: 1px solid rgb(216, 213, 213);

  & > * {
    // background-color: blue;
    display: flex;
    height: auto;
    align-items: center;
    width: auto;
    text-transform: capitalize;

    & > * {
      margin-left: 0.7em;
    }

    .employee-name {
      font-weight: bold;
      font-size: 0.9em;
      letter-spacing: 0.3px;
      opacity: 1;
      transition: 400ms ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .employee-title {
      font-weight: bold;
      font-size: 0.6em;
      letter-spacing: 1.5px;
      color: rgb(49, 49, 49);
    }

    .avatar {
      height: 2.8em;
      border-radius: 50%;
      transition: 400ms ease-in-out;

      &:hover {
        cursor: pointer;
        border: 1px solid black;
      }
    }
  }
}

.employee-center {
  & > * {
    color: rgb(49, 49, 49);
    transition: 400ms ease-in-out;
    margin: 0 0.5em;
    opacity: 0.75;
    font-size: 1.1em;

    &:hover {
      cursor: pointer;
      opacity: 1;
      scale: 1.05;
    }
  }
}

.employee-right {
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(62, 211, 62);
  text-transform: uppercase;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
  }

  .icon-arrows {
    color: blue;
    margin: 0 0.45em;
  }

  .icon-arrow-in {
    transform: rotate(-40deg);
  }

  .icon-arrow-out {
    transform: rotate(-140deg);
  }
}
