.overview-admin-main {
  //   overflow: hidden;
  width: 100%;
}

.overview-reports {
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}
